<h3 class="page-header text-center">Asteróides</h3>
<div ng-controller="asteroidController as vm">
    <section class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <form id="search" role="form" style="border:0">
                    <div class="col-xs-4">
                        <ul class="nav nav-stacked">
                            <li><strong>Data Inicial</strong></li>
                            <li>
                                <div class="dropdown dropdownStartSetDate">
                                    <a class="dropdown-toggle" id="dropdownStartSetDate" role="button" data-toggle="dropdown" data-target=".dropdownStartSetDate"
                                        href="#">
                                        <div class="input-group">
                                            <input type="text" id="startSetDate" name="startSetDate" class="form-control" ng-model="vm.startSetDate" date-time-input="DD/MM/YYYY">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="vm.startSetDate" datetimepicker-config="{ dropdownSelector: '#dropdownStartDate', startView:'day', minView:'day' }"></datetimepicker>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul class="nav nav-stacked">
                            <li><strong>Data Final</strong></li>
                            <li>
                                <div class="dropdown dropdownEndSetDate">
                                    <a class="dropdown-toggle" id="dropdownEndSetDate" role="button" data-toggle="dropdown" data-target=".dropdownEndSetDate"
                                        href="#">
                                        <div class="input-group">
                                            <input type="text" id="endSetDate" name="endSetDate" class="form-control" ng-model="vm.endSetDate" date-time-input="DD/MM/YYYY">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="vm.endSetDate" datetimepicker-config="{ dropdownSelector: '#endSetDate', startView:'day', minView:'day', renderOn: 'endSetDate' }"
                                            on-set-time="vm.endDateOnSetTime()" before-render="vm.endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul class="nav nav-stacked">
                            <li>&nbsp;</li>
                            <li>
                                <button class="btn btn-primary" type="button" ng-click="vm.updateRangeDate(vm.startSetDate, vm.endSetDate)">Filtrar</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section>
        <ul class="nav nav-tabs">
            <li ng-repeat="asteroidsDate in vm.asteroid | orderBy: 'date'"><a href="#tab{{:: asteroidsDate.date | date:'dd'}}" data-toggle="tab" ng-click="vm.activeDateTab = asteroidsDate">{{:: asteroidsDate.date | date:'dd/MM/yyyy'}}</a></li>
        </ul>
        <div class="tab-content" ng-repeat="asteroids in vm.asteroid | orderBy: 'date'">
            <div class="tab-pane fade in" id="tab{{:: asteroids.date | date:'dd'}}" ng-class="{active: vm.activeDateTab == asteroids}"
                ng-include="'asteroids/list.html'">
            </div>
        </div>
    </section>
</div>