<div class="panel panel-default">
    <div class="panel-heading">Total de Asteróides detectados no dia
        <u>{{:: asteroids.date | date:'dd/MM/yyyy'}}</u> : <strong>{{:: asteroids.near_earth_object.length}}</strong></div>
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Nome</th>
                <th>Velocidade</th>
                <th>Perigoso</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="asteroid in asteroids.near_earth_object track by $index">
                <td>{{:: asteroid.close_approach_data[0].close_approach_date | date:'dd/MM/yyyy'}}</td>
                <td>{{:: asteroid.name}}</td>
                <td>{{:: asteroid.close_approach_data[0].relative_velocity.kilometers_per_hour | number:0}} km/h</td>
                <td><i ng-show="asteroid.is_potentially_hazardous_asteroid" class="fa fa-check text-danger"></i></td>
                <td>
                    <a href="#!" ng-click="vm.clone($index, asteroid)" title="Criar Alerta" class="well-sm"><i class="fa fa-exclamation-triangle text-warning"></i></a>
                    <a href="#!" title="Exluir Alerta" class="well-sm"><i class="fa fa-trash-o text-muted"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>